.bg-mix {
  background-image: url('./textures/bgMix.png');
  background-repeat: repeat;
}

.bg-webdev {
  background-image: url('./textures/bgWebDev.png');
  background-repeat: repeat;
}

.bg-music {
  background-image: url('./textures/bgMusic.png');
  background-repeat: repeat;
}

.bg-gaming {
  background-image: url('./textures/bgGaming.png');
  background-repeat: repeat;
}